{%- block form -%}
    {{ form_start(form) }}
        {{- form_widget(form) -}}
        <div class="security--footer justify-content-center pull-end">
            {% block security__footer -%}{%- endblock security__footer %}
        </div>
    {{ form_end(form) }}
{%- endblock form -%}

{% block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {{- form_label(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
{%- endblock form_row %}

{% block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'range' or type == 'color' -%}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {%- endif -%}
    <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} placeholder="{{ name|capitalize }}"/>
{%- endblock form_widget_simple %}

{% block form_label -%}
    <label for="{{id}}" class="visually-hidden-focusable">{{name}}</label>
     {%- if errors|length > 0 -%}
    <div id="{{ id }}_errors" class="mb-2">
        {{- form_errors(form) -}}
    </div>
    {%- endif -%}
{%- endblock form_label %}