{% extends 'security/base.html.twig' %}
{% form_theme form with ['security/_form.html.twig', _self] %}
{% block title %}Forgotten Password{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="form-container">
        <h1 class="h3 mb-3 font-weight-normal">MedleyBox - <span class="h5 mb-3 font-weight-normal">Forgotten Password</span></h1>
        <p>Reset your password after confirming via email.</p>

        {# pass an array argument to get the messages of those types  #}
        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form(form) }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4 d-flex justify-content-center">
      <ul class="nav footer-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('security_signup') }}">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('security_login') }}">Login</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
{% endblock %}
