{% extends 'security/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="form-container">
        <div class="security--header">
          <h1 class="h3 mb-3 font-weight-normal">MedleyBox</h1>
          <h4 class="h5 font-weight-normal">Please login to continue</h4>
        </div>
        <form method="post">
          {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          {# pass an array argument to get the messages of those types  #}
          {% for label, messages in app.flashes(['success', 'error']) %}
              {% for message in messages %}
                  <div class="alert alert-{{ label }}">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endfor %}

          <label for="username" class="visually-hidden-focusable">Username</label>
          <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" placeholder="Username" required autofocus>
          <label for="password" class="visually-hidden-focusable">Password</label>
          <input type="password" name="_password" id="password" class="form-control" placeholder="Password" required>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <button class="btn btn-lg btn-secondary float-end" type="submit">Sign in</button>
        </form>
        <div class="security--footer justify-content-center">
          <ul class="nav footer-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('security_signup') }}">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('security_forgotten_password') }}">Forgotten password</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
