{% extends 'security/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="form-container">
        <h1 class="h3 mb-3 font-weight-normal">MedleyBox - <span class="h5 mb-3 font-weight-normal">Please login</span></h1>
        <form method="post">
          {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          {# pass an array argument to get the messages of those types  #}
          {% for label, messages in app.flashes(['success', 'error']) %}
              {% for message in messages %}
                  <div class="alert alert-{{ label }}">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endfor %}

          <label for="inputUsername" class="sr-only">Username</label>
          <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <button class="btn float-right btn-lg btn-primary" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4 d-flex justify-content-center">
      <ul class="nav footer-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('security_signup') }}">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('security_forgotten_password') }}">Forgotten password</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
{% endblock %}
