{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
<link href="/app.css{{asset_hash}}" rel="preload" as="style" />
<link href="/app.js{{asset_hash}}" rel="preload" as="script" />
<link href="/chunk-vendors.js{{asset_hash}}" rel="preload" as="script" />
<link href="/app.css{{asset_hash}}" rel="stylesheet" />
{% endblock stylesheets %}

{% block body %}
<div id="app"></div>
{% endblock body %}

{% block javascripts %}
<script type="text/javascript" src="/chunk-vendors.js{{asset_hash}}"></script>
<script type="text/javascript" src="/app.js{{asset_hash}}"></script>
{{ encore_entry_script_tags('ws') }}
{% endblock javascripts %}
